<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Additional sites for Film enthusiasts</h5>

                <ul class="list-unstyled">
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.imdb.com/">IMDb</a>
                    </li>
                    <li class="footer-items">
                        <a class="hyperlink" href="https://letterboxd.com/">Letterboxd</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful Links</h5>

                <ul class="list-unstyled">
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.ign.com/reviews/">Learn how IGN reviewers do it!</a>
                    </li>
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.masterclass.com/articles/how-to-write-a-movie-review">Master Class on reviewing</a>
                    </li>
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.youtube.com/user/chrisstuckmann">Esteemed reviewer - Chris Stuckmann</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <hr>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->