
/* ---------------
       FONTS
   --------------- */

@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato Thin";
  src: url(../fonts/lato/Lato-Thin.ttf);
}

@font-face {
  font-family: "Lato Bold";
  src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: "Raleway Regular";
  src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/oswald/static/Oswald-Regular.ttf)
}

@font-face {
  font-family: "Oswald Light";
  src: url(../fonts/oswald/static/Oswald-Light.ttf)
}

/* ---------------
    Header view
   --------------- */

#headerMain {
  background-color: black;
}

.navbar-brand {
  color: ghostwhite;
  font-family: "Raleway Regular", sans-serif;
}

.nav-link {
  color: ghostwhite;
}

.dropdown-menu a:hover {
  background-color: blue;
  color: #fff;
}

/* ---------------
   INDEX main view
   --------------- */

body {
  counter-reset: my-sec-counter;
  background-color: #f3ce13;
}

.hyperlink {
  color: ghostwhite;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

.bold {
  font-weight: bold;
  font-family: "Raleway Regular", sans-serif;
  color: black;
}

#title {
  font-family: "Raleway Regular", sans-serif;
  color: black;
  font-weight: bold;
}

.container {
  padding: 16px;
}

.card img {
  max-height: 350px;
  max-width: 300px;
}

.card {
  width: 18rem;
  padding: 7px 7px 0 7px;
  position: relative;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  margin: 0 0 0 40px;
}

.card:hover {
  transform: translateY(20px);
  background-color: floralwhite;
}

.card-text {
  font-family: "Raleway Regular", sans-serif;
  font-style: normal;
  color: black;
}

.rating-text {
  font-family: "Oswald";
  font-style: normal;
  color: black;
}

#add-collection {
  margin: auto;
  padding: 12px 8px 12px 8px;
  border: none;
  background-color: cornflowerblue;
  color:white;
  font-weight: bold;
  transition: 0.3s;
  font-family: "Raleway Regular", sans-serif;
}

#add-collection:hover {
  background-color: blue;
}

.dotReview {
  background-color: #f3ce13;
  border: none;
  color: black;
  font-weight: bold;
  padding: 15px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.dotReview:focus {
  outline: none;
}

.spaceBar {
  border: 2px solid;
  border-radius: 4px;
}

/* ---------------
   Collection view
   --------------- */

.big-title {
  font-family: "Raleway Regular", sans-serif;
  color: black;
  font-weight: bold;
}

.normal-text {
  font-family: "Raleway Regular", sans-serif;
  color: black;
  font-style: normal;
}

.list-group-item {
  position: relative;
  display: block;
  align-items: flex-end;
  margin: 30px 0 0 0;
  padding: 10px 10px 20px 10px;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

#actionButton {
  border: none;
  padding: 8px 16px;
  background-color: cornflowerblue;
  color:white;
  transition: 0.3s;
  font-family: "Raleway Regular", sans-serif;
  font-weight: bold;
}

#actionButton:hover {
  background-color: blue;
}

#bigPoster {
  padding-bottom: 20px;
}

.dropdown-menu {
  display: none;
  position: relative;
}

.dropdown-menu li a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: black;
  transition: 0.1s;
  white-space: nowrap;
  font-family: "Lato Regular";
}

.dropdown-menu li {
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
  z-index: 1;
  position: center;
  min-width: 100%;
  transition: 0.3s;
}

.dropdown-menu li a:hover {
  background-color: blue;
  color: #fff;
}

#add-profile {
  border: none;
  color: white;
  padding: 15px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

#quantity {
  display: inline;
  font-family: "Raleway Regular", sans-serif;
  font-style: italic;
  color: black;
}

.noRow {
  box-sizing: border-box;
}

#noFooter {
  padding-bottom: 400px;
}

.column-empty {
  position: center;
  float: left;
  width: 50%;
  padding: 0 20px 0 0;
}

/* ---------------
     Profile view
   --------------- */

#selectionNumber {
  margin-bottom: -10px;
  font-family: "Raleway Regular", sans-serif;
  color: black;
  font-style: normal;
}

#selectionNumber:before {
  counter-increment: my-sec-counter;
  content: "Selection number " counter(my-sec-counter);
}
#profileBlocks {
  padding: 16px 0 16px 0;
  width: 100%;
}

#profileBlocks:hover {
  transform: translateX(10px);
  background-color: antiquewhite;
}

.panel {
  margin: 30px 0 30px 0;
}

#textProfile {
  font-family: "Oswald", sans-serif;
  color: black;
  font-style: normal;
  text-align: center;
  position: center;
  padding: 0 0 0 110px;
}

#textProfile2 {
  font-family: "Raleway Regular", sans-serif;
  font-size: 22px;
  color: black;
  text-align: center;
  position: center;
  padding: 0 0 0 110px;
}

.profileRow {
  box-sizing: border-box;
}

.column {
  position: center;
  float: left;
  width: 33.33%;
  padding: 0 20px 40px 0;
}

.profileIMG {
  width: 230px;
  height: 170px;
  padding: 0 3px 0 3px;
}

.panel-footer {
  padding-bottom: 40px;
}

.finalHR {
  margin-bottom: 25px;
}

/* ---------------
    Register view
   --------------- */

.form-group {
  width: 275px;
}

.register-aid {
  padding-top: 10px;
  padding-bottom: 170px;
  font-family: "Raleway Regular", sans-serif;
  font-style: normal;
  color: black;
}

#log-online {
  padding: 8px 14px 8px 14px;
  border: none;
  background-color: cornflowerblue;
  color:white;
  transition: 0.3s;
  font-family: "Raleway Regular", sans-serif;
  font-weight: bold;
}
#log-online:hover {
  background-color: blue;
  transition-delay: 200ms;
}

/* ---------------
    Footer view
   --------------- */

.footer-items {
  padding: 5px 0 5px 0;
}

/* ---------------
      HELP view
   --------------- */

#grid-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-element {
  position: relative;
  overflow: hidden;
  border: 10pt solid #f3ce13;
  height: 100pt;
  -webkit-transition: all .5s ease;   /* Safari and Chrome */
  -moz-transition: all .5s ease;      /* Firefox */
  -o-transition: all .5s ease;        /* Opera */
  transition: all .5s ease;
}

.grid-element:hover {
  cursor: pointer;
}

.grid-element-contracted-info {
  height: 100pt;
}

.grid-element-name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.45em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #F4F7F5;
  margin: 9% 0 0;
  padding: 10px 0;
  height: 43pt;
  border-top: 5px solid rgba(255, 255, 255, .3);
  border-bottom: 5px solid rgba(255, 255, 255, .3);
}

.grid-element-expanded-info {
  position: absolute;
  text-align: center;
  top: 81pt;
  left: 5%;
  z-index: 10;
  width: 90%;
  height: 72.5%;
  padding: 15pt;
  background-color: #F4F7F5;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.grid-element-expanded-info span {
  position: relative;
  color: #08090A;
  font-family: Raleway Regular, sans-serif;
  font-size: 12pt;
  padding: 10pt 10pt 10pt 0;
  bottom: -3pt;
}

.grid-element-expanded-info br {
  display: block;
  content: "";
  margin-top: 10pt;
}

.grid-element-expanded-info:hover {
  cursor: initial;
}

.grid-icon-info-container {
  text-align: center;
  width: 100%;
}

.grid-icon-info-container p {
  font-family: Raleway Regular, sans-serif;
  text-align: center;
  font-size: 10pt;
  margin: -7pt 0 0 0 ;
}

#items {
  font-family: "Lato Regular", sans-serif;
  font-size: small;
  color: black;
}

#sci {
  background-color: #3BB2E2;
  opacity: 100%;
}

#sci:hover {
  background-color: #3BB2E2;
  opacity: 75%;
}
#ign {
  background-color: indianred;
  opacity: 100%;
}

#ign:hover {
  background-color: indianred;
  opacity: 75%;
}
#holly {
  background-color: lawngreen;
  opacity: 100%;
}

#holly:hover {
  background-color: lawngreen;
  opacity: 75%;
}
#film {
  background-color: mediumpurple;
  opacity: 100%;
}

#film:hover {
  background-color: mediumpurple;
  opacity: 75%;
}
#clevver {
  background-color: indianred;;
  opacity: 100%;
}

#clevver:hover {
  background-color: indianred;
  opacity: 75%;
}
#nerds {
  background-color: #3BB2E2;
  opacity: 100%;
}

#nerds:hover {
  background-color: #3BB2E2;
  opacity: 75%;
}
#fast {
  background-color: darkkhaki;
  opacity: 100%;
}

#fast:hover {
  background-color: darkkhaki;
  opacity: 75%;
}

