
<div>
    <h1>Lets get you started with help and tips</h1>
    <hr class="spaceProfile">
    <p>
        Curabitur pharetra mi a ex pulvinar, ac finibus augue varius. In et consectetur tortor. Ut id felis sed mauris hendrerit viverra sed ac lacus. Vestibulum dictum quis orci ut sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Nunc ornare mi id dolor efficitur, eu tempor ante laoreet. Mauris gravida dignissim ex.
    </p>
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ol>
    <p>
        Curabitur pharetra mi a ex pulvinar, ac finibus augue varius. In et consectetur tortor. Ut id felis sed mauris hendrerit viverra sed ac lacus. Vestibulum dictum quis orci ut sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Nunc ornare mi id dolor efficitur, eu tempor ante laoreet. Mauris gravida dignissim ex.
    </p>
    <p>
        Curabitur pharetra mi a ex pulvinar, ac finibus augue varius. In et consectetur tortor. Ut id felis sed mauris hendrerit viverra sed ac lacus. Vestibulum dictum quis orci ut sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Nunc ornare mi id dolor efficitur, eu tempor ante laoreet. Mauris gravida dignissim ex. Pellentesque tincidunt enim euismod accumsan consectetur. In a sapien feugiat,
        fermentum metus sed, hendrerit elit. Pellentesque maximus nec nunc pulvinar elementum. Curabitur blandit porttitor cursus. Vestibulum dapibus lectus metus. Sed eget elit
        vitae elit lobortis consequat non id enim. Morbi lobortis mauris et arcu auctor, eu semper.
    </p>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
    </ul>
    <hr class="spaceProfile">
</div>

<div class="container-fluid" id="grid-container-help">
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Sci-Fi Mania</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">We recommend only Sci-Fi related things!</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Be sure to check out the Sci-Fi panel at Comic Con Online.</span>

                <hr class="grid-element-expanded-info-hr">

                <span>Would you like to know more?</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Luke Picard, Leia Skypotter et al.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">IGN Deluxe</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Pub location, tap for map</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Opening Hours of the Pub</span>

                <hr class="grid-element-expanded-info-hr">

                <span>How long is the queue? Vote!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">A colored icon shows the available items</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Hollywood Five-O</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Pub location, tap for map</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Opening Hours of the Pub</span>

                <hr class="grid-element-expanded-info-hr">

                <span>How long is the queue? Vote!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">A colored icon shows the available items</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">2 Fast 4 Movies</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Pub location, tap for map</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Opening Hours of the Pub</span>

                <hr class="grid-element-expanded-info-hr">

                <span>How long is the queue? Vote!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">A colored icon shows the available items</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Film First</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Pub location, tap for map</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Opening Hours of the Pub</span>

                <hr class="grid-element-expanded-info-hr">

                <span>How long is the queue? Vote!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">A colored icon shows the available items</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Clevver Movies</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Pub location, tap for map</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Opening Hours of the Pub</span>

                <hr class="grid-element-expanded-info-hr">

                <span>How long is the queue? Vote!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">A colored icon shows the available items</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="help">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">New Nerds</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Pub location, tap for map</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Opening Hours of the Pub</span>

                <hr class="grid-element-expanded-info-hr">

                <span>How long is the queue? Vote!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">A colored icon shows the available items</p>
                </div>
            </div>
        </div>

    </div>  <!-- Row END -->
</div> <!-- Card END -->
<hr class="finalHR">

<script>
    var conElems = document.getElementsByClassName("grid-element-contracted-info");
    var elems = document.getElementsByClassName("grid-element");
    //var expInd = document.getElementsByClassName("grid-element-expand-indicator");

    for (let i = 0; i < conElems.length; i++) {
        conElems[i].addEventListener("click", function() {
            this.classList.toggle("active");

            // Gets the index of the grid element that was clicked.
            var index = $(this).parent().index();

            if (elems[index].style.height !== "370pt"){
                elems[index].style.height = "370pt";
                elems[index].style.opacity = "100%";
                expInd[index].innerHTML = "keyboard_arrow_up";
            } else {
                elems[index].style.height = "100pt";
                elems[index].style.opacity = "80%";
                expInd[index].innerHTML = "keyboard_arrow_down";
            }
        });
    }
</script>
