
<!-----------------------
           Help view
     ------------------------>
<div class="container">
<div>
    <h1 class="big-title">Lets get you started with help and tips</h1>
    <hr class="spaceBar">
    <p class="normal-text">
        Welcome to the Help page. Are you stuck and do not know what to do? Here we have all the relevant information you need to navigate the page and we will makee evrything crystal clear to you.
        So many reviews on the home page right? Make sure that you read through them all choose the ones you like the most. Perhaps you like action or drama. The just add them to your collection.
    </p>
    <ol class="normal-text">
        <li>Begin with looking through all the reviews carefully</li>
        <li>The next step is to choose some. Maybe even several of one review.</li>
        <li>Finally go to your collection</li>
    </ol>
    <p class="normal-text">
        Curabitur pharetra mi a ex pulvinar, ac finibus augue varius. In et consectetur tortor. Ut id felis sed mauris hendrerit viverra sed ac lacus. Vestibulum dictum quis orci ut sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Nunc ornare mi id dolor efficitur, eu tempor ante laoreet. Mauris gravida dignissim ex.
    </p>
    <p class="normal-text">
        Curabitur pharetra mi a ex pulvinar, ac finibus augue varius. In et consectetur tortor. Ut id felis sed mauris hendrerit viverra sed ac lacus. Vestibulum dictum quis orci ut sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Nunc ornare mi id dolor efficitur, eu tempor ante laoreet. Mauris gravida dignissim ex. Pellentesque tincidunt enim euismod accumsan consectetur. In a sapien feugiat,
        fermentum metus sed, hendrerit elit. Pellentesque maximus nec nunc pulvinar elementum. Curabitur blandit porttitor cursus. Vestibulum dapibus lectus metus. Sed eget elit
        vitae elit lobortis consequat non id enim. Morbi lobortis mauris et arcu auctor, eu semper.
    </p>
    <ul class="normal-text">
        <li>Remember to be respectful and share your reviews with friends</li>
        <li>Have fun when using our application! Yaaay!</li>
    </ul>
    <hr class="spaceProfile">
</div>

<div class="container-fluid" id="grid-container-help">
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="sci">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Sci-Fi Mania</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">We only like Sci-Fi!</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Please choose the reviews that are all about sci-fi!</span>

                <hr class="grid-element-expanded-info-hr">

                <span>Would you like to know more?</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Leia Skypotter, Luke Picard et al.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="ign">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">IGN Deluxe</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">We are similar to IGN, but better!</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">We know IGN gives 9/10 to almost everything, but we give 19/10 hehe!</span>

                <hr class="grid-element-expanded-info-hr">

                <span>9/10 not enough ice cream.</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Logan Douche, Igor "Niner" Goofball et al.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="holly">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Hollywood Five-O</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Hollywood, where you can earn big money!</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Only Money matters and we want more.</span>

                <hr class="grid-element-expanded-info-hr">

                <span>Pick movies that are created by Murican studios!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Max Power, John Paramount et al.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="fast">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">2 Fast 4 Movies</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Dumb action movies are the best!</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">Many reviewers are so harsh and do not treat dumb action with respect.</span>

                <hr class="grid-element-expanded-info-hr">

                <span>Fast and Furious For Life</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Vin Diesel and Family</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="film">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Film First</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">Drama movies and Indie films.</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">There are so many things we can learn from those film.</span>

                <hr class="grid-element-expanded-info-hr">

                <span>The longer the run time, the better!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Alicia Malone</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="clevver">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">Clevver Movies</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">We love everything pop culture</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">So many reviews here are nerdy and geeky.</span>

                <hr class="grid-element-expanded-info-hr">

                <span>Do not forget the popcorn!</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Erin Robinson, Roxy Striar et al.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-xl-3 grid-element short-queue visible" id="nerds">

            <div class="grid-element-contracted-info">
                <h3 class="grid-element-name">New Nerds</h3>
            </div>

            <div class="grid-element-expanded-info">
                <span class="location-info">#RestoretheSnyderVerse can beat Marvel!</span>

                <hr class="grid-element-expanded-info-hr">

                <span class="time-info">May the Fourth be with you!</span>

                <hr class="grid-element-expanded-info-hr">

                <span>We learned a lot from film school, and to party.</span>

                <hr class="grid-element-expanded-info-hr">

                <div class="container-fluid grid-icon-info-container">
                    <p id="items">Tom Hardy Fans Inc.</p>
                </div>
            </div>
        </div>

    </div>  <!-- Row END -->
</div> <!-- Card END -->
</div>
<hr class="finalHR">

<script>
    var conElems = document.getElementsByClassName("grid-element-contracted-info");
    var elems = document.getElementsByClassName("grid-element");
    //var expInd = document.getElementsByClassName("grid-element-expand-indicator");

    for (let i = 0; i < conElems.length; i++) {
        conElems[i].addEventListener("click", function() {
            this.classList.toggle("active");

            // Gets the index of the grid element that was clicked.
            var index = $(this).parent().index();

            if (elems[index].style.height !== "370pt"){
                elems[index].style.height = "370pt";
                elems[index].style.opacity = "100%";
                expInd[index].innerHTML = "keyboard_arrow_up";
            } else {
                elems[index].style.height = "100pt";
                elems[index].style.opacity = "80%";
                expInd[index].innerHTML = "keyboard_arrow_down";
            }
        });
    }
</script>
